<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Gobbler Exchange</title>
        <script src="../../public/js/jquery.min.js"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
        <script src="../../public/js/base.js"></script>
        <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/base.css">
        <script src="https://use.fontawesome.com/625f8d2098.js"></script>
    </head>
    <body>

		<form>
			Group name:<br>
			<input type="text" name="groupName"><br/>
		</form>
		
		<div class="col-lg-2" style="text-align: center;">
			
			<a href="base.html">
				<button id = "button" type="button" class="btn btn-primary">
					Create group
				</button>
			</a>
		</div>

    </body>
</html>