.forum_post {
    padding:10px;
    border-bottom: 1px solid #ccc;
}

.vote_arrows {
    width:30px;
    height:30px;
    float: left;
}

.settings_button {
    width:30px;
    height:30px;
    float:left;
}

.comments_button {
    float:right;
}
