<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Gobbler Exchange</title>
        <script src="../../../public/js/jquery.min.js"></script>
        <script src="../../../public/js/bootstrap.min.js"></script>
        <script src="../../../public/js/base.js"></script>
        <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../public/css/base.css">
        <script src="https://use.fontawesome.com/625f8d2098.js"></script>
    </head>
    <body>
      <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <h1>
                <span class="maroon">Gobbler</span>
                <span class="orange">Exchange</span>
            </h1>
        </div>
        <div class="col-lg-2">
            <p id = "signedinas" class="description" style="float: right;">
            Signed in as...
            </p>
        </div>
        <!-- <div class="col-lg-2"> -->
            <button id = "signout" type="button" class="btn btn-primary" style="float: right;">
                Sign Out
            </button>
        <!-- </div> -->
      </div>


<!-- Search bar -->
<div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="input-group">
          <div class="input-group-btn">
            <button id = "searchdropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CRN <span class="caret"><span>
            </button>
            <ul class="dropdown-menu" role = "menu">
              <li><a href="#">CRN</a></li>
              <li><a href="#">Group</a></li>
              <li><a href="#">Username</a></li>
              <li><a href="#">Email</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" name="x" placeholder="Search term...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>

<br>

    <!-- Class navigation (forum, calendar, notes, whiteboard) -->
    <div class="container">
      <div class="row">
        <div class="col-lg-2" style="text-align: center;">
            <button id = "button" type="button" class="btn btn-primary">
                New Class
            </button>
        </div>
        <div class="col-lg-8">
            <ul class="nav nav-tabs">
              <li id = "tab" role="presentation"><a href="#">Forum</a></li>
              <li id = "tab" role="presentation"><a href="#">Calendar</a></li>
              <li id = "tab" role="presentation"><a href="#">Notes</a></li>
              <li id = "tab" role="presentation"><a href="#">Whiteboard</a></li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

<br>
<div class = "container" id="classTabs">
        <div class="row">
            <div class="col-lg-2">
                <a href="#" class="list-group-item">CS 3114</a>
                <a href="#" class="list-group-item">STAT 4705</a>
                <a href="#" class="list-group-item">ENGL 1704</a>
            </div>
            <div class="col-lg-7">

                <!-- Main space -->
                <div id="module">
					<!-- So the idea here is that all of these tags will be filled in and could keep going as long as we want to display stuff, like an arraylist in Java, not sure what needs to be done for that. -->
					<!-- This is mostly just placeholder. I'm thinking that instead of doing this, I'll make it so you can search notes by date, name, or author, and select what note to view from there, because notes can get long.-->
					
                    <h2>Published Notes</h2>

					<ul>
						<li>
							<h3> Algorithms for the Discrete Log Problem </h3>
							<h4> Author: Matthew Szostak </h4>
							<h4> Date: 02/28/17 </h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</li>
					  
						<li>
							<h3> Pollard Rho and Index Calculus </h3>
							<h4> Author: Matthew Szostak </h4>
							<h4> Date: 03/02/17 </h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</li>
					</ul>  
					<div class="col-lg-2" style="text-align: center;">
						<button id = "button" type="button" class="btn btn-primary">
							Show More Notes
						</button>
					</div>
					
                </div>

            </div>
            <div class="col-lg-3">

                <!-- Chat box -->
                CHAT SPACE FOR GREG :)
                <iframe id="chat" src=""></iframe>

            </div>
        </div>
    </div>

    </body>
</html>
